<% @events.each do |event| %>
  <div class="flex">
    <h2><%= event.title %></h2>
    <p><%= event.description %></p>
    <div>
      <p>Date: <%= event.date %></p>
      <p>Location: <%= event.location %></p>
    </div>
  </div>
<% end%>
