/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.full-view {
  height: 100vh;
}

.navbar {
  height: 5em;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  max-width: 100vw;
}

.logo a {
  color: #fff;
  margin: 0.8em;
  font-size: 2em;
  text-decoration: none;
}

.user-links a {
  font-size: 1.5em;
  color: lightcoral;
  background: #fff;
  text-decoration: none;
  margin: 0.8em;
  padding: 0.4em 1em;
  border-radius: 5px;
}

.event-index {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 3em;
}

.pink-border {
  border: 2px lightcoral solid;
  border-radius: 5px;
  padding: 2em;
  margin: 2em;
}

.title {
  font-size: 2em;
  color: lightcoral;
}

.title-links a {
  text-decoration: none;
  color: lightcoral;
}

.new-event {
  margin-top: 20em;
}

.show-user {
  max-width: 100vw;
}

.pink-button input,
.pink-button a {
  margin: 3em;
  padding: 1em;
  background-color: lightcoral;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.name-title {
  margin-right: 2em;
}

.name {
  font-size: 2.5em;
  color: lightcoral;
  padding: 0.8em;
  border: 1px lightcoral solid;
  border-radius: 5px;
}

.column {
  margin: 3em 15em;
}

.info {
  font-size: 2em;
  margin: 1em 2em;
}

.m-t {
  margin-top: 3em;
}
